* {
    --black: #11101D;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mt-1 {
    margin-top: 1rem;
}

.border {
    border: 1px solid red;
}

/* color */
.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.flash-message {
    position: fixed;
    padding: 5px 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    background-color: var(--black);
    color: white;
    z-index: 1999;
    animation-name: fadein;
    animation-duration: 3s;
    transition-duration: 2s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.mt-1 {
    margin-top: 1em;
}

@media (max-width: 420px) {
    .flash-message {
        width: 70vw;
        text-align: center;
    }
}